<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    {{>header}}

    <p>Use this site to get your weather</p>
    
    <form>
        <input placeholder="Locatiom">
        <button>Search</button>
    </form>

    <p id="pOne"></p>
    <p id="pTwo"></p>
    {{>footer}}
    <script src="/js/scripts.js"></script>
</body>
</html>